In [91]:
with open('One.txt', 'r') as file:
    content = file.read()
    print(content)

This is a story about dogs
our canine pets
Dogs are furry animals

In [92]:
with open('Two.txt', 'r') as file:
    content2 = file.read()
    print(content2)

This story is about surfing
Catching waves is fun
Surfing is a popular water sport

In [93]:
words = content.lower( ).split( )
words

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [94]:
uni_words_one = set(words)
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [95]:
words2 = content2.lower( ).split( )
uni_words_two = set(words2)
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [96]:
all_words = uni_words_one.union(uni_words_two)

In [97]:
full_vocab = {}
i = 0 
for word in all_words:
    full_vocab[word] = i
    i += 1
full_vocab

{'story': 0,
 'pets': 1,
 'catching': 2,
 'our': 3,
 'is': 4,
 'water': 5,
 'dogs': 6,
 'about': 7,
 'surfing': 8,
 'this': 9,
 'furry': 10,
 'waves': 11,
 'animals': 12,
 'a': 13,
 'canine': 14,
 'are': 15,
 'sport': 16,
 'fun': 17,
 'popular': 18}

In [98]:
one_frequency= [0] * len(full_vocab)
two_frequency= [0] * len(full_vocab)
all_words = [''] * len(full_vocab)

In [99]:
one_frequency

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [100]:
two_frequency

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [101]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [102]:
for word in full_vocab:
    index = full_vocab[word]
    all_words[index] = word
all_words

['story',
 'pets',
 'catching',
 'our',
 'is',
 'water',
 'dogs',
 'about',
 'surfing',
 'this',
 'furry',
 'waves',
 'animals',
 'a',
 'canine',
 'are',
 'sport',
 'fun',
 'popular']

In [103]:
# 1. take words and store unique words in vocabulary
# 2. make a dcitionary and give unique number to each words from 0 to onward till length
# based n unique words number store the words in list in index order

In [104]:
# finding repaeing words
with open('One.txt', 'r') as file:
    content = file.read()
    words = content.lower( ).split( )
    for word in words:
        index = full_vocab[word]
        one_frequency[index] += 1
one_frequency

[1, 1, 0, 1, 1, 0, 2, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0]

In [105]:
with open('Two.txt', 'r') as file:
    content2 = file.read()
    words2 = content2.lower( ).split( )
    for word in words2:
        index = full_vocab[word]
        two_frequency[index] += 1
two_frequency

[1, 0, 1, 0, 3, 1, 0, 1, 2, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1]

In [108]:
import pandas as pd

In [109]:
data = pd.DataFrame({    'one_frequency': one_frequency,
    'two_frequency': two_frequency})

In [111]:
data.index = all_words

In [114]:
data = data.T

In [115]:
data

,story,pets,catching,our,is,water,dogs,about,surfing,this,furry,waves,animals,a,canine,are,sport,fun,popular
one_frequency,1,1,0,1,1,0,2,1,0,1,1,0,1,1,1,1,0,0,0
two_frequency,1,0,1,0,3,1,0,1,2,1,0,1,0,1,0,0,1,1,1